---
import BaseLayout from "./BaseLayout.astro";
const { name, description, category } = Astro.props.frontmatter
const split = category.toLowerCase().split(" ").join("-")
---

<BaseLayout name={name} description={description} category={category.toLowerCase()}>
  <h1 class="text-3xl font-bold mb-2 title">{name}</h1>
  <p>{description}</p>
  <slot/>
  <a class="my-3" href={`https://github.com/discordfrens/learn/tree/master/src/pages${category.toLowerCase() !== "misc" ? `/learn/${split}` : ""}/${name.toLowerCase().split(" ").join("-")}.mdx`}>Edit this page on GitHub <i class="fa fa-external-link ml-1"></i></a>
</BaseLayout>