---
import BaseLayout from "./BaseLayout.astro";
const { name, description, category } = Astro.props.frontmatter
---

<BaseLayout name={name} description={description} category={category.toLowerCase()}>
  <h1 class="text-3xl font-bold mb-2 title">{name}</h1>
  <p>{description}</p>
  <slot/>
  <a href={`https://github.com/discordfrens/learn/tree/master/src/pages/learn/${category.toLowerCase().split(" ").join("-")}/${name.toLowerCase().split(" ").join("-")}.mdx`}>Edit on github!</a>
</BaseLayout>